<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="site/css/style.css">
</head>
<body>
   {{!-- templating engine - when you run your server, the templating engine replaces teh variables e.g. {{title}} with values that come from the node server  --}}

  {{!-- This layout file will contain all the common html components that all our pages use that have this layout --}}

  {{{body}}}
</body>
</html>